@import '../../common/style/common';

.wrapper{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
  @include flex-center();
  .container{
    @include rounded(5px);
    @include box-sizing();
    width:500px;
    min-height:300px;
    background:white;
    padding: 10px;
  }
}