@import "../../../common/style/common";

.wrapper {
  width: 100%;
  height: 100px;
  line-height: 40px;
  background: white;
  margin-bottom: 10px;
  @include shadow(0,0,4px,#d2d2d2);
  @include text-default;
  .container{
    width: $main-width;
    margin:0 auto;
    @include flex-center(row,space-between);
    padding: 0 20px;
    .logo{
      height:80px;
      margin-top: 10px;
    }
    .user-name{
      color: $text-bold-color;
      font-weight: bold;
    }
    .down-icon{
      font-size:22px;
      font-weight: bold;
      color: $text-bold-color;
      vertical-align: middle;
    }
  }
}


.lay-pop{
  padding:0;
}
.info-content{
  padding:5px 0;
  .info-cell{
    padding:0 20px;
    cursor: pointer;
    &:hover{
      background:#e5e5e5;
    }
  }
}