@import "../../common/style/common";

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.header {
  background: white;
  padding: {
    top: 0;
    bottom: 0;
    left: 0;
    right: 24px;
  };
  @include flex-center(row, space-between);
}

.content {
  margin: 10px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.bg {
  &::before {
    content: "";
    /*-webkit-filter: opacity(50%);
    filter: opacity(50%); */
    background-image: url(/img/editor-072.jpg);
    opacity: 0.2; //透明度设置
    background-size: 500px 300px;
    width: 500px;
    height: 300px;
    position: absolute;
    bottom: 25px;
    right: 0;
    border-radius: 40px;
    pointer-events: none;
    z-index: 1;
  }
}

.exit-btn {
  color: $blue;
  margin-left: 10px;
  font-size: $text-weak-size;
  cursor: pointer;
}