@import "../../../common/style/common";

.wrapper {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: white;
  border-bottom: 3px solid $yellow;
  .container{
    width: $main-width;
    margin: 0 auto;
    height:100%;
    .tab{
      padding: 0 30px;
      height:100%;
      display: inline-block;
      cursor: pointer;
      position: relative;
      .sub-tab{
        position: absolute;
        z-index: 100;
        background: white;
        color: $text-title-color;
        left:0;
        right:0;
        @include rounded(5px);
        margin-top: 2px;
        @include shadow(0,0,4px,#d2d2d2);
        .sub-tab-cell{
          padding: 0 10px;
          text-align: center;
          &:hover{
            color: $yellow
          }
          position: relative;
          .pop-tab{
            position: absolute;
            top:0;
            left:120px;
            width:120px;
            background: white;
            @include box-sizing();
            @include rounded(5px);
            @include shadow(0,0,4px,#d2d2d2);
            //margin-left: 5px;
            .pop-tab-cell{
              position:relative;
              padding:0 20px;
              &:hover{
                color: $yellow
              }
            }
            .pop-tab-cell-active{
              @extend .pop-tab-cell;
              color: $yellow
            }
          }
        }
        .sub-tab-cell-active{
          @extend .sub-tab-cell;
          color: $yellow;
        }
      }
    }
    .tab-active{
      @extend .tab;
      background-color: $yellow;
      color:white;
    }
    .nav-icon{
      font-size: 20px;
      font-weight:bold;
      padding-right: 5px;
      position: relative;
      top: 2px;
    }
  }
}
